
a[rel~="wp-video-lightbox"] {
    display: inline-block;
    line-height: 1rem;
    padding: 15px 12px;
    color: white;
    text-decoration: none;
}

a[rel~="wp-video-lightbox"] ~ .fa-solid {
    font-size: 1rem;
    margin-left: -5px;
}
